appname = tjuzqc
httpport = 8080
runmode = dev
amap_key = e3fa3ad67d9d9d00f45bdf09b3a93bb6
baidu_appid = 20170901000079600
baidu_secret = V0TANvnivuTQBahK4Y1y
EnableDocs = true
LogoPath = "/static/layui/tju.png"
sessionon = true
# EnableHTTPS=true
# EnableHTTPS = true
# HTTPSCertFile = "conf/server.pem"
# HTTPSKeyFile = "conf/server.key"